p{
    font-size: 48px;
    font-size: 68px;
    /* 1 inch = 96px */
    font-size: 1in;

    /* 1in = 2.54cm */
    font-size: 2.54cm;
    /* 1px == 0.75pt/points*/
    /* 16px=0.75*16=12 */
    font-size: 12pt;
    border: 12pt solid red;
}