.cool::before{
    content: 'hello ';
    border: 2px solid rgb(253, 33, 8);
    color: aqua;
    background: rgb(69, 61, 101);
    display: block;
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.cool::after{
    content: 'hii ';
    border: 2px solid rgb(253, 33, 8);
    color: aqua;
    background: rgb(69, 61, 101);
    display: block;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

h1::after{
    content: 'hii ';
    border: 2px solid rgb(253, 33, 8);
    color: aqua;
}

/* img,br,input me nhi use kr skte */